* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 5em;
  background-color: rgb(37, 39, 53);
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  position: relative;
}

.md\:hidden {
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .md\:hidden {
    display: flex;
  }

  .md\:flex {
    display: none;
  }
}

.burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.menu-icon {
  width: 2em;
  height: 2em;
}

.menu {
  width: 100%;
  height: 200vh;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));

  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}
.content {
  width: 100%;
}

.logo {
  position: fixed;
}

.menu-content {
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));

  display: flex;
  flex-direction: column;
  gap: 1em;
}
